backend/.vscode
backend/Crizzl.API/bin
backend/Crizzl.API/obj
backend/Crizzl.API/Logs
backend/Crizzl.API/Properties
backend/Crizzl.API/appsettings.Development.json
backend/Crizzl.API/appsettings.json
backend/Crizzl.Application/bin
backend/Crizzl.Application/obj
backend/Crizzl.IntegrationTests/bin
backend/Crizzl.IntegrationTests/obj
backend/Crizzl.UnitTests/bin
backend/Crizzl.UnitTests/obj
backend/Crizzl.Infrastructure/bin
backend/Crizzl.Infrastructure/obj
backend/Crizzl.Infrastructure/Migrations
backend/Crizzl.Domain/obj
backend/Crizzl.Domain/bin
backend/Crizzl.Utilities/bin
backend/Crizzl.Utilities/obj
backend/.DS_Store
backend/Crizzl.API/dump.rdb
backend/Makefile

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/ssl

frontend/.eslintrc
frontend/.eslintignore
frontend/.prettierrc

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*